body{
    font-family: tahoma;
    background-color: #808;
}
header{
    background-image: url('assets/images/header-cover.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    /* overflow: hidden; */
}
header::after{
    content: ' ';
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: url('assets/images/wave-bottom.svg');
    height: 275px;
}
.header-content{
    z-index: 1;
    position: relative;
}
.header-content h1{
    font-size: 45px;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
}
.header-content p{
    font-size: 20px;
    margin: 20px 0 25px;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: capitalize;
}

.theme-btn{
    border-radius: 50px;
    background: white;
    padding: 15px 30px;
    border: 2px solid white;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 25px;
    text-align: center;
    margin-right: 12px;
    transition: all 0.5s ease-in;
}
.theme-btn:hover{
    text-decoration: none;
    background-color: transparent;
    color: white;
    font-weight: 500;
}
@media (max-width:350px){
    .Read{
        display: none;
    }
    .Start{
        float: left;
    }
}